build
.vscode
.vs
.idea
*.o
*.exe
__pycache__
overstacked
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeSettings.json
Testing
venv
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.replit